<p id="notice"><%= notice %></p>

<h1>ラベル</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
        <td><%= link_to '詳細', label %></td>
        <td><%= link_to '編集', edit_label_path(label) %></td>
        <td><%= link_to '削除', label, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいラベル', new_label_path %>
<%= link_to '管理画面へ', admin_users_path %>
